body{
	background-color: #F1F3D2;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}

h1{
	text-align: center;
}

header{
	background-color: #443F4E;
	color: #fff;
	padding: .6em;
}

.btn{
	background-color: #894A4A;
	border-color: #9D2638;
	color: #fff;
	border: 1px solid transparent;
	padding: .2em;
	text-align: center;
}

.icon{
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	color: #443F4E;
}

.icon:hover{
	color: #9D2638;
	font-size: 1.2em;
}


.btn:hover{
background-color: #9D2638;
cursor: pointer;

}

.btn:focus{


}

.btn:active{


}

.categoria-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 3em 0 3em 0;
}

.kappa{
	display: flex;
	background-color: #443F4E;
	color: #fff;
	padding: .8em;
	margin: 0;
	justify-content: space-between;
}

.kappita{
	display: flex;
	background-color: #7A8182;
	color: #fff;
	padding: .8em;
	margin: 0;
	justify-content: space-between;
}


.row-libro{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 1em 0 1em 0;
}

label,input{
	display: inline-flex;
}

.libro-container{

}
.info-libro{
	display: flex;
}

#formLibro, #formCategoria{
	margin: 2em 30em 2em 30em;
	display: flex;
	flex-direction: column;
}

